name: PR Test

on:
  workflow_dispatch:
  schedule:
     - cron: "0 0 * * 0"


concurrency:
  group: dev-docker-release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-test:
    if: github.repository == 'sgl-project/SpecForge'
    runs-on: [ubuntu-latest]
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./docker
          push: true
          tags: frankleeeee/specforge:dev
